#background{
    background: linear-gradient(92.3deg, #9899FF 4.68%, rgba(206, 67, 255, 0.63) 98.66%);
}
#fiatBackground{
    background: linear-gradient(92.3deg, #FF6E79 31.38%, #1FFFA8 98.66%);
}

.conversionLists{
    box-shadow: 0px 0px 3.3333334922790527px 0px #00000040;
}

.switch{
    padding: 4.91px 8.96px 4.91px 2.89px;
    width: 102.02px;
    height: 17.05px;
    border-radius: 3.47px;
}

.bluebutton{
    width: 70px;
    height: 18px;
    padding: 4px 10px;
    border-radius: 8px;
}

.input, .available{
    box-shadow: 0px 0px 2.2916667461395264px 0px #00000040;

}

.dropbtn {
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content p{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content p:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  

/* Modal Container */
.modal {
    display: flex;/* Initially hidden */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;/* Semi-transparent background */
    overflow: auto;
  }
  
  /* Modal Content */
  .modal-content {
    background: white;
    width: 312px;
    height: 245px;
    margin: auto;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    position: relative;
  }
  
  /* Close Button */
  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
  }
  

@media only screen and (min-width: 768px) {
    .bluebutton{
        width: 80px;
        height: 30px;
        padding: 7px 12px;
        border-radius: 12px;
    }
    .modal-content {
        width: 360px;
        height: 270px;
        margin: auto;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
        position: relative;
      }
}
@media only screen and (min-width: 1024px) {
    .bluebutton{
        width: 100px;
        height: 38px;
        padding: 9px 15px;
        border-radius: 15px;
    }
    .modal-content {
        width: 562px;
        height: 404px;
        margin: auto;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
        position: relative;
      }

}
