* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Banner Section */

.airtimeTop {
    margin: 0 auto;
}
.airtimeTop .banner {
    width: 95%;
    margin: 0 auto;
    padding: 30px 40px;
    display: flex;
    gap: 300px;
    background: linear-gradient(92.3deg, #73FF9A 26.51%, #6EDCFF 82.31%);
    border-radius: 20px;
    position: relative;
    height: 240px;
}
.globalAir h3 {
    font-size: 26px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 0em;
    margin-bottom: 3%;
    color: #000000;
}
.globalAir p {
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    margin-bottom: 3%;
}
.banner .young {
    margin-top: -1%;
}
.young img {
    width: 220px;
    height: 200px;
}

/* Previous Recipients */

.airtimeTop .containFlex {
    padding-top: 5%;
    width: 85%;
    margin-left: 35px;
    display: flex;
    justify-content: space-between;
}
.FlexPut {
    display: flex;
    justify-content: space-between;
    padding: 14px 20px 12px;
    margin: auto 0;
    border-radius: 10px;
    width: 375px;
    height: 51px;
    border: none;
    box-shadow: 0px 0px 4px 0px #00000040;
}
.FlexPut .FlexImg img {
    width: 24px;
}
.containFlex1 {
    padding-top: 2%;
    width: 95%;
    margin: 0 auto;
}
.FlexPut1 {
    display: flex;
    justify-content: space-between;
    padding: 14px 20px 12px;
    margin: auto 0;
    border-radius: 10px;
    width: 375px;
    height: 51px;
    border: none;
    background: #04177F;
    box-shadow: 0px 0px 4px 0px #00000040;
    color: #FFF;
}
.FlexPut1 .FlexImg1 img {
    width: 24px;
    position: relative;
    top: 1px;
}

/* Main input section */

.airtimeTop .mainGrid {
    padding-top: 3.5%;
    width: 85%;
    margin-left: 35px;
    display: grid;
    grid-template-columns: repeat(2, min-content);
    justify-content: space-between;
    row-gap: 20px;
}


.input {
    display: flex;
    justify-content: space-between;
    padding: 14px 20px 12px;
    margin: auto 0;
    border-radius: 10px;
    width: 375px;
    height: 51px;
    border: none;
    box-shadow: 0px 0px 4px 0px #00000040;
}
.input .head2 {
    font-weight: 800;
    color: #000000;
}
.btnDrop {
    opacity: 1;
    transform: translateY(0);
    transition: .3s;
}
.colDown {
    position: absolute;
    margin-top: 4px;
    border: none;
    box-shadow: 0px 4px 10px 0px #00000040;
    border-radius: 5px;
    width: 375px;
    transition: height .3s ease;
    background: #FFF;
}
.labelInput {
    display: flex;
    gap: 3px;
    list-style: none;
}
.netList {
    border-bottom-width: 1px;
    cursor: pointer;
    display: flex;
    gap: 2px;
    padding: 8px;
    margin: auto 0;
    width: 375px;
    transition: .3s;
}
.netList1 {
    border-bottom-width: 1px;
    cursor: pointer;
    display: flex;
    gap: 2px;
    padding: 8px;
    margin: auto 0;
    width: 375px;
    transition: .3s;
}
.netList .netImage {
    width: 24px;
    overflow: hidden;
}
.netImage .NoImage {
    object-fit: cover;
}
.netList1 .netName1 {
    font-size: 16px;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #219250;
}
.netList .netName {
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #7C7C7C;
}
.input1 {
    display: flex;
    justify-content: space-between;
    padding: 14px 20px 12px;
    margin: auto 0;
    border-radius: 10px;
    width: 375px;
    height: 51px;
    border: none;
    box-shadow: 0px 0px 4px 0px #00000040;
}
.input1 .span2 {
    color: #219250;
    font-weight: 800;
}
.input2 {
    display: flex;
    justify-content: space-between;
    padding: 14px 20px 12px;
    margin: auto 0;
    border-radius: 10px;
    width: 375px;
    height: 51px;
    border: none;
    box-shadow: 0px 0px 4px 0px #00000040;
}
.disc img {
    margin: auto 0;
    width: 34px;
}
.input .phone {
    outline: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    color: #000000;
}
.phone::placeholder {
    font-weight: 400;
}
.call img {
    margin: auto 0;
    width: 24px;
}
.span3 {
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    color: #04177F;
}
.head3 {
    color: #000000;
    font-weight: 600;
    font-size: 16px;
    line-height: 20.8px;
    padding-bottom: 3%;
}
.labelInput .head4 {
    margin: auto 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    color: #7C7C7C;
}

/* Add recipients */

.add {
    padding-top: 5%;
    display: flex;
    gap: 2px;
    width: 95%;
    margin: auto;
}
.add h2 {
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}

/* Contact aspect of the airtimeVTU page */

.help {
    margin: auto;
    width: 20%;
    padding-top: 10%;
    display: flex;
    gap: 15px;
}
.help h2 {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
}
.help .btnContact {
    background: #04177F;
    padding: 5px 15px 10px 15px;
    height: 20px;
    border-radius: 9px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    line-height: 10px;
    letter-spacing: 0em;
    position: relative;
    bottom: 3px;
}