/* popup box */
.react-calendar {
  /* border-radius: 12px;
  box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.1);
  border: none;
  font-family: sans-serif;
  padding: 0px; */
  height: 100%;
}

/* header navigation */
.react-calendar__navigation {
  /* 
  margin-bottom: 0px;
  padding: 0px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  padding: "10px 0px"
}

.react-calendar__navigation__label {
  /* font-weight: 600; */
  font-size: 12px;
  padding : "10px 0px"
  /* color: #333; */
}

.react-calendar__navigation__arrow {
  font-size: 15px;
  color: #9B9696;
  padding: 0px 4px;
}

.react-calendar__month-view{
  box-shadow: 0px 13.93px 35.59px 0px #0000002E;
  background: white;
  padding: 0.5rem;
  border-radius: 4.86px;
  border: 1px solid #E0E0E0;
  font-size : 8px
}

/* weekdays row */
.react-calendar__month-view__weekdays {
  /* text-align: center;
  font-weight: 400;
  font-size: 12px;
  color: #333333;
  margin-bottom: 0px;
  text-transform: capitalize;
  padding: 0 14px; */
  margin-bottom: 5px;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.2rem;
  text-transform: capitalize;
  font-size: 12px;
  font-weight: 400;
}

/* day cells */
.react-calendar__tile {
 @apply text-[12px] text-black font-[400]  py-2 
  
}



.react-calendar__month-view__days__day--neighboringMonth {
  @apply text-[12px]  font-[400]  
   text-[#e0e0e0];
}
.past-day {
  color: #76C5FF;
}
.future-day {
  color: #9A9595;
  /* font-weight: 500; */
}

/* selected date */
.react-calendar__tile--active {
  background: #04177f !important;
  /* color: #fff !important; */
  color: #76C5FF !important;
  border-radius: 50% !important;
}

/* today */
.react-calendar__tile--now {
  border: 1px solid #04177f !important;
  /* font-weight: bold; */
  color: #76C5FF !important;
  border-radius: 50% !important;
}
