@tailwind base;
@tailwind components;
@tailwind utilities;

.faq-answer.open {
  @apply h-[90px] md:h-[125px] lg:h-[218.81px];
}

body,
html {
  font-family: inter;
}


@layer utilities {
  /* The "Creation" Animation */
  @keyframes manifest {
    0% {
      opacity: 0;
      transform: translateY(40px) scale(0.98);
    }
    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }

  /* Utility class to apply to your sections */
  .animate-manifest {
    animation: manifest 1s cubic-bezier(0.2, 0.8, 0.2, 1) forwards;
  }

  /* Delay utilities to make the header appear before the text */
  .delay-300 {
    animation-delay: 300ms;
  }
}
